<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/master.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Launch Academy</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
